//fuentes
$fuentePrincipal: "Montserrat", sans-serif;

//colores
$verde: #4CB8B3;
$rosa: #F53573;
$amarillo: #FDDA00;
$morado: #752F97 ;
$negro: #000;
$blanco: #fff;

//media query
$telefono : 480px ;
$tablet: 768px ;
$desktop: 1200px;
$desktopXL: 1400px;